{{- range $name, $cm := .Values.configmaps }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $name }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
data:
  {{- range $key, $value := $cm.data }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
{{- end }}
